body 
{
    text-align: center;
}

#Header
{
    background-color: #FF00FF;
    height: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    background-position: 10px 10px;
    height: 100px;
    width: 100px;
    background-image: url('../Images/QM_Logo.jpg');
    background-repeat: no-repeat;
    float: left;
}

#Menu
{
    float: left;
    height: 505px;
    width: 215px;
    background-color: #FF00FF;
    padding: 10px 10px 20px 20px;
    margin-left: -110px;
}

#Register
{
    width: 500px;
    margin-left: 150px;    
}

#CreateUserWizard1
{
    margin-left: 200px;
}